[Unit]
Description=Run autosnapshot cleanup daily at 05:00

[Timer]
OnCalendar=*-*-* 05:00:00
Persistent=true
Unit=cleanup.service

[Install]
WantedBy=timers.target
